.contact{
    text-align:center;
    padding: 80px 30px 30px 30px;
}

.contact >h1{
    font-size: 50px;
}

.form{
    width:180px;
    margin: 0 auto;
    margin-top:150px;
}

.form >.group{
    margin-bottom:15px;
}
.form label{
    display:block;
}
.form button{
    width:100%
}
