.header{
    text-align: center;
    line-height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.header button{
    width: 80px;
    height:20px;
}